.emp-register{
    display: flex;
    flex-direction:column;
    align-items: center;
    text-align: center;
    font-family:monospace;
    padding-top: 20px;
    min-height: 100vh;
}
.empReg-form{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.emp-register input{
    width: 300px;
    height: 30px;
    margin:5px;
    text-align: center;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.empReg-form button{
    width: 150px;
    height: 30px;
    margin-top: 30px;
    align-items: center;
    border-radius: 30px;
}