.footer {
  background-image: linear-gradient(to bottom ,rgb(246, 92, 92), #FF0000);
  min-height: 5vh;
  align-items: center;
  vertical-align: center;
  width: 100%;
  margin-top: auto;
  height: 40px;
  padding-top: 18px;
}
.footer a {
  align-self: flex-end;
  margin-left: 40px;
  padding: 5px;
  justify-content: center;
  color: black;
  border: 3px solid black;
  border-radius: 2px;
  border-spacing: 1em;
  margin-top:1em;
  font-size: 20px;
  text-decoration: none;
  font-family: monospace;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.footer a:hover{
  color:rgb(247, 241, 241);
}