.user-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:167px;
    min-height: 100vh;
    /* background-color: rgb(246, 92, 92); */
}
.user-login h2{
    font-size: 40px;
    font-family: monospace;
}
.user-login form{
    display: flex;
    flex-direction: row;

}
.user-login button{
    text-align: center;
    margin-top: 4em;
    width: 80px;
    height: 30px;
    align-self: center;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.user-login button:hover{
    color: white;
    background-color: black;
    outline: none;

}

.user-login input{
    width: 400px;
    height: 30px;
    margin:10px;
    text-align: center;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.user-login input:focus{
    outline: none;
    
}
.user-form-new{
    display: flex;
    flex-direction: column;
}